---
title: Mickael Kerjean
description: My Resume
layout: skeleton
menu: home
---

<div class="menu">
    <ul id="back"> <li><a href="{{ "/" | relative_url}}"><span><img src="/assets/img/back.png"></span><span class="label">home</span></a></li> </ul>
</div>

<div class="background coffee">
    <img src="/assets/img/coffee.png" alt="just a cup of coffee"/>
</div>
<div class="container">
    <section id="header" class="center">
        <h1>Mickael Kerjean</h1>
        <ul class="inline">
            <li><a href="mailto:mickael@kerjean.me">mickael@kerjean.me</a></li>
            <li><a href="tel:+61 429 136 564">0429 136 564</a></li>
            <li>Sydney</li>
        </ul>
    </section>
    <section>
        <p>
            Dynamic
            <span class="typer" data-delay="80" id="me" data-deleteDelay="1000" data-words="Project Manager,Software Engineer,Hacker" data-colors="inherit">Project Manager</span><span class="cursor" data-owner="me"></span>
            <span class="print-only">Project Manager / Software Engineer</span>
            who undertakes challenging technical assignments, meets tight deadlines and delivers within constraints. Thrives in fast-paced environments to lead international and local projects, working cross functionally at all levels in matrix organisations of all sizes. Key strengths includes:
        </p>
        <ul class="inline center">
            <li> Project Management </li>
            <li> Software Engineering </li>
            <li>Cloud services</li>
        </ul>
        <ul class="inline center">
            <li>Web development</li>
            <li> Agile / Lean</li>
        </ul>
    </section>
    <section class="reveal">
        <h2>Experiences</h2>
        <div class="item">
            <h3>Independant Contractor</h3>
            <h4 class="subtitle">MK Consulting &#8226; Australia</h4>
            <div class="date">
                Since 2017
            </div>
            <div class="abstract">
                Providing Software Engineering services for businesses
            </div>
            <div class="content">
                <p>
                    Role:
                    <ul>
                        <li>Manage ICT projects from end to end</li>
                        <li>Increase business efficiency by implementating solutions that fit my client's business</li>
                        <li>Support & Maintenance & Training</li>
                    </ul>
                </p>
                <p>
                    Achievements:
                    <ul>
                        <li>> 150k gross income for the very first year of business</li>
                        <li>Identified and contributed fixing major security breaches in client system</li>
                    </ul>
                </p>
                <ul class="tags">
                    <li>Project Management</li><li>Business Development</li><li>NodeJS</li><li>Salesforce</li><li>Server Management</li><li>SQL</li><li>Selenium</li>
                </ul>
            </div>
        </div>
        <div class="item">
            <h3>Technical Project Manager</h3>
            <h4 class="subtitle">Schneider Electric &#8226; Australia</h4>
            <div class="date">
                2015 - 2017
            </div>
            <div class="abstract">
                Providing automation solutions for industries.
            </div>
            <div class="content">
                <p>
                    Role:
                    <ul>
                        <li>Leading a team of five inshore and offshore developers, designers, engineers from Philippines, United Kingdom and Australia.</li>
                        <li>Developing and implementing software solutions to facilitate internal and external marketing communications.</li>
                        <li>Full end-to-end responsibility and accountability for establishing plans, managing issues, risk and quality, scoping the entire projects and producing reports.</li>
                        <li>Managing projects involving international collaboration from teams in Western Europe, North America, South Asia, Australia and Middle-East.</li>
                    </ul>
                </p>
                <p>
                    Achievements:
                    <ul>
                        <li>Reduced the deployment time from one day of manual labor to two minutes of machine time; </li>
                        By leveraging a fully automated test/build/deployment process allowing fast feedback and better stakeholders engagement.
                        <li>Designed & Implemented a process to identify and report production errors instantly;</li>
                        Reduced maintenance time and downtime by implementing a fully automated monitoring process raising real time alarms.
                        <li>Identified and contributed fixing three security breaches;</li>
                        Helped avoiding intrusion in the company network, data theft and espionage.
                    </ul>
                </p>
                <ul class="tags">
                    <li>Prince2</li><li>MS Project</li><li>Mysql</li><li>Postgres</li><li>PHP</li><li>Ruby</li><li>Node</li><li>Java</li><li>Clojure</li><li>S3</li><li>AWS</li><li>Angular</li><li>React</li><li>Rails</li><li>MS office</li><li>Microservices</li><li>Nginx</li><li>Apache</li><li>Windows server</li><li>Server management</li>
                </ul>
            </div>
        </div>

        <div class="item">
            <h3>Founder</h3>
            <h4 class="subtitle">Youplo &#8226; France</h4>
            <div class="date">
                2014 - 2015
            </div>
            <div class="abstract">
                Web solution aiming to help camping owners to communicate in real-time with their customers  and to promote onsite and offsite touristic attractions and activities.
            </div>
            <div class="content">
                <p>
                    Role:
                    <ul>
                        <li>Creating front/back office and publishing it on the Google and Apple store.</li>
                        <li>Studying market and trends to develop and implement an effective, data-driven marketing strategy.</li>
                        <li>Meeting and gaining commitment from city halls, local businesses and camping owners.</li>
                    </ul>
                </p>
                <p>
                    Achievements:
                    <ul>
                        <li>Kick-started a project and brought it from nothing to completion;</li>
                        <li>livered a minimum viable product in 1 month able to serve up to 400 concurrent users with a $3.00/month server.</li>
                        <li>Reached over 5,000 visitors during the seasonal peak.</li>
                        <li>Established partnerships with the regional council and three cities.</li>
                    </ul>
                </p>
                <p>
                    <ul class="tags">
                        <li>Python</li><li>Javascript</li><li>Angular</li><li>Django</li><li>Linux</li>
                    </ul>
                </p>

            </div>
        </div>
        <div class="item">
            <h3>Project Manager & QA Consultant </h3>
            <h4 class="subtitle">Witbe &#8226; USA, Canada</h4>
            <div class="date">
                2013 - 2014
            </div>
            <div class="abstract">
                Specialist in test automation to validate/monitor Telcos infrastructure and related products.
            </div>
            <div class="content">
                <p>
                    Role:
                    <ul>
                        <li>Implementing the validation process of set-top-box to increase confidence to go to market.</li>
                        <li>Leading team of three quality assurance Engineers to complete automated test projects.</li>
                    </ul>
                </p>
                <p>
                    Achievements:
                    <ul>
                        <li>Reduced the amount of false positive our tests were reporting by more than 90%;</li>
                        Developed a new image recognition algorithm based on SIFT descriptors.
                        <li>Solved a major issue which reduced the global cost for the project by $120,000;</li>
                        Applied image recognition algorithm addressing a crisis that was forecast to cost two months of full-time intensive work.
                        <li>Lower the cost of ownership and decreased the testing time;</li>
                        Developed a proof of concept of a new testing infrastructure that leveraged a distributed network of low-cost nodes made of Raspberry Pi.
                    </ul>
                </p>
                <ul class="tags">
                    <li>Python</li><li>UAT</li><li>OpenCV</li>
                </ul>
            </div>
        </div>

        <div class="item">
            <h3>R&D Software engineer</h3>
            <h4 class="subtitle">Trinnov Audio &#8226; France</h4>
            <div class="date">
                2013 - 2014
            </div>
            <div class="abstract">
                Design and manufacture high end Audio Pre amplifier for music studio and cinemas.
            </div>
            <div class="content">
                <p>
                    Role & Achievement:
                    <ul>
                        <li>Rewriting and testing the middleware of the Trinnov audio rendering engine from a X based system to webkit. </li>
                        <li>Optimised the code to achieve good performances on real world scenarios.</li>
                    </ul>
                </p>
                <ul class="tags">
                    <li>Embedded system</li><li>C</li><li>C++</li><li>Assembly</li><li>Javascript</li><li>Mercurial</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="reveal">
        <h2>Education</h2>
        <div class="item">
            <h3>Master of science</h3>
            <h4 class="subtitle">Supelec (top3 engineering school in France) &#8226; France</h4>
            <div class="date">
                2013 - 2014
            </div>
            <div class="abstract">
                Majoring in Interactive Systems and Robotics
            </div>
        </div>
        <div class="item">
            <h3>Bachelor</h3>
            <h4 class="subtitle">University of Perpignan &#8226; France</h4>
            <div class="date">
                2013 - 2014
            </div>
            <div class="abstract">
                Majoring in Electronics, Electrotechnic and Automatic Systems<br/>
                Valedictorian
            </div>
        </div>
        <div class="item">
            <h3>Baccalaureat</h3>
            <h4 class="subtitle">Marillac College &#8226; France</h4>
            <div class="date">
                2013 - 2014
            </div>
            <div class="abstract">
                Received with the highest honours
            </div>
        </div>
    </section>
</div>

<style>.print-only{display: none;}</style>
<style type="text/css" media="print">
 .print-only{display: inline;}
 @page {
     size: A4 portrait;
     margin: 25mm 25mm 25mm 25mm;
 }
 body, html {
     -webkit-print-color-adjust: exact;
     background: white;
 }
 .typer, .cursor{display: none;}
 .menu{display: none;}

 .container{
     box-shadow: none; padding-top: 0;
     margin-bottom: 0;
     padding-bottom: 0;
 }

 section#header{background: inherit;}
 .item{opacity: 1!important; transform: none!important;}
</style>
<script defer src="https://steven.codes/typerjs/typer.js"></script>

<script>
 var script = document.createElement("script");
 script.type = "text/javascript";
 script.src = "https://unpkg.com/scrollreveal@3.3.6/dist/scrollreveal.min.js";
 script.defer = true;
 script.onload = function(){
     let sr = ScrollReveal();
     sr.reveal('.item', {
         useDelay: 'once',
         duration: 200,
         delay: 100,
         scale: 0.95,
         viewFactor: 0.2
     });
 };
 document.body.appendChild(script);
</script>

<style>
 body .container{
     opacity: 0;
     transform: translateX(20px);
 }
 body.render-completed .container{
     opacity: 1;
     transform: translateX(0);
     transition: 0.2s ease-out;
 }

 body .background.coffee{transform: translateX(-100%) scale(1.4);}
 body.loading-completed .background.coffee{
     transform: translateX(0) scale(1);
     transition: 0.4s ease-out;
     transition-delay: 2s;
 }

 body .container h2{transform: translateY(-10px); opacity: 0;}
 body.render-completed .container h2{
     transform: translateY(0);
     opacity: 1;
     transition: 0.2s ease-out;
     transition-delay: 0.3s;
 }

</style>

<noscript>
    <style>
     body .container{opacity: 1; transform: translateX(0);}
     body .background.coffee{transform: translateX(0) scale(1);}
     body .container h2{transform: translateY(0px); opacity: 1;}
    </style>
</noscript>
