---
layout: list
permalink: /
menu: kb
---

<style>
 body .menu-landing-page{
     opacity: 0;
     transform: scale(1.1);
     z-index: 0;
 }
 body.render-completed .menu-landing-page{
     opacity: 1;
     transform: scale(1);
     transition: 0.2s ease-out;
     transition-delay: 0.2s;
 }

 body .container{
     opacity: 0;
     transform: translateY(100px);
     z-index: 1;
 }
 body.render-completed .container{
     opacity: 1;
     transform: translateY(0);
     transition: 0.3s ease-out;
 }
</style>

<noscript>
    <style>
     body .menu-landing-page{opacity: 1; transform: scale(0);}
     body .container{opacity: 1; transform: translateY(0);}
    </style>
</noscript>
