---
layout: list
permalink: /search/
menu: search
---

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/0.7.1/lunr.min.js"></script>
<script>
 window.store = {
	 {% for post in site.categories.pro %}
	 "{{ post.url | slugify }}": {
	     "title": "{{ post.title | xml_escape }}",
	     "tags": "{{ post.tags | xml_escape }}",
	     "author": "{{ post.author | xml_escape }}",
	     "category": "{{ post.category | xml_escape }}",
	     "content": {{ post.content | replace: '<', ' &nbsp; <' | strip_html | strip_newlines | replace_regex: '\&nbsp\;\s+', "" | jsonify }},
	     "url": "{{ post.url | xml_escape }}"
	 }
	 {% unless forloop.last %},{% endunless %}
	 {% endfor %}
 };
</script>

<form class="card search" action="{{ "/search" | absolute_url }}" method="get">
    <input type="text" placeholder="Search" id="search-box" name="q" data-focus>
</form>

<section id="search-results"></section>
<script type="text/javascript" src="/assets/js/search.js"></script>
