@import 'variable';
@import 'reset';

/* RESET */
h1, h2, h3, h4{
    margin: 0;
}
h1{font-size: 2.2em;  color: #4B4D52;}
h2{font-size: 1.75em; color: #637d8b;}
h2:after {
    content: ' ';
    border-bottom: 2px solid;
    width: 50px;
    height: 2px;
    display: block;
    margin: 5px 0 20px 0;
}
h3{font-size: 1.3em; color: #4B4D52;}
h4{font-size: 1.15em; color: #4B4D52;}
.center{text-align: center;}


.container{
    width: 94%;
    max-width: 900px;
    margin: 30px auto 20px auto;
    background: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 100px;
    box-sizing: border-box;
    @media (max-width: 1200px) {
        margin-top: 10px;
    }
    @media (max-width: 800px) {
        padding: 40px;
    }
    @media (max-width: 600px) {
        padding: 20px; width: 100%; margin: 0;
    }
}


.menu{
    opacity: 0.5;
    margin: 5px 10px;
    position: fixed; top: 0; left: 0;
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            a{
                color: inherit;
                text-decoration: none;
                img{
                    position: relative;
                    top: 1px;
                    height: 13px;
                }
                .label{padding-left: 3px;}
            }
        }
    }
    @media (max-width: 1200px) {
        position: inherit;
    }
    @media (max-width: 600px) {
        float: left;
        position: inherit;
    }

}

section {
    margin-top: 30px; margin-bottom: 20px;

    &#header{
        color: $secondary;
        background: $primary;
        background: linear-gradient($primary, darken($primary, 3%));
        padding: 50px 0;
        border-bottom: 2px solid $secondary;
        margin: -100px -100px 0 -100px;
        @media (max-width: 800px) {
            margin: -40px -40px 0 -40px;
        }
        @media (max-width: 600px) {
            margin: -20px -20px 0 -20px;
        }

        h1{margin: 0; margin-bottom: 10px;}
    }


    .item{
        margin: 10px 10px 30px 0px;
        position: relative;
        h2{
            text-align: center;
            margin: 60px 0 20px 0;
            text-transform: uppercase;
            &:after, &:before{
                content: ' ';
                display: inline-block;
                width: 50px;
                margin: 7px 10px;
                border: 1px solid;
            }
            @media (max-width: 600px) {
                text-align: left;
                &:before{display: none;}
                &:after{display: block; margin-left: 0;}
            }
        }
        .content{
            text-align: justify;
            font-size: 0.95em;
            p{margin-bottom: 5px; margin-top: 5px;}
            ul{margin-top: 0; margin-bottom: 0px;}
        }
        .date{
            position: absolute;
            color: #A8C2D0;
            font-size: 0.9em;
            font-style: italic;
            top: 5px; right: 0;
            @media (max-width: 540px) {
                position: inherit;
                top: inherit;
            }

        }
    }

    ul{
        a{
            color: inherit;
            text-decoration: none;
        }
        &.inline{
            margin: 0;
            li{
                display: inline;
                white-space: nowrap;
                &:after {
                    content: '\2219';
                    opacity: 0.7;
                    position: relative;
                    top: 1px;
                    padding: 0 5px;
                }
                &:last-child:after {
                    display: none;
                }
            }
        }

        &.tags{
            list-style-type: none; padding: 0;
            width: 80%;
            text-align: center;
            margin: 0 auto;
            li{
                display: inline-block;
                border-radius: 3px;
                color: rgba(0, 0, 0, 0.4);
                border: 1px solid rgba(0, 0, 0, 0.1);
                margin-right: 5px;
                margin-bottom: 5px;
                font-size: 16px;
                padding: 1px 5px;
                background: #f9f9f9;
            }
            @media (max-width: 800px) {
                width: 100%;
            }
        }
    }
}



.background{
    position: fixed;
    z-index: 10;
    &.coffee{
        top: 100px;
        left: -40px;
        img{width: 500px;}
        @media (max-width: 1500px) {
            left: -190px;
        }
        @media (max-width: 1200px) {
            left: -300px;
        }
        @media (max-width: 1000px) {
            display: none;
        }

    }
}
