@import 'variable';
@import 'reset';
@import 'nav';
@import 'container';
@import 'code';
@import 'quotes';
@import 'related_post';
@import 'toc';
@import 'tag';

@keyframes post-appear{
    from{opacity:0; transform: translateX(20px);}
    to{opacity:1; transform: translateX(0);}
}

body > .container {
    animation-name: post-appear;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;

    margin-top: 50px;
    .post-content > p:first-child { display: none; } // remove excerpt
}

.post{
    .post-header{
        h1{
            font-family: $font-title;
            text-align: center;
            font-style: italic;
            font-size: 2.2em;
            font-weight: normal;
            a{float:right; text-decoration: none; color: inherit;}
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

    }
    .post-content{
        text-align: justify;
        h1,h2,h3,h4,h5,h6{font-weight: normal;}
        h1{font-size: 1.7em; margin: 50px 0 15px 0; padding-bottom: 3px; border-bottom: 2px dashed;}
        h2{font-size: 1.5em; margin: 20px 0 5px 0;}
        h3,h4,h5{margin: 15px 0 5px 0; color: $secondary; font-family: $font-title, sans-serif; font-size: 1.35em;}
        a {color: $secondary; border-bottom: 1px dashed; font-size: 1.03em;}
        p{margin: 15px 0 5px 0;}
        ul, ol{margin-top: 5px; margin-bottom: 5px; padding-left: 25px;}
        > ul, > ol { padding-left: 20px; }
        li{margin: 5px 0; text-align: left;}
    }
}
