@import 'variable';
@import 'reset';
@import 'nav';
@import 'list';
@import 'container';

form.card.search{
    margin-top: 20px;
    padding: 30px 0;
    input{
        border-bottom: 1px solid $border;
        width: 100%;
        font-size: 1.5em;
        color: inherit;
        padding: 10px;
        box-sizing: border-box;
    }
}

#search-results .card{
    .highlight-text{
            color: $text-emphasis;
            background-color: $primary;
            display: inline-block;
            padding: 0 5px;
    }
}
