@import 'variable';
section{
    .card{
        margin-bottom: 10px;
        position: relative;
        color: inherit;
        display: block;
        text-decoration: none;
        background: white;
        padding: 10px;
        border-radius: $radius;
        border-right: 1px solid $border;
        border-bottom: 2px solid $border;
        img{
            background: white;
            float:left;
            margin-right: 10px;
        }
        .post-meta{
            font-weight: normal;
            font-style: italic;
            font-size: 0.75em;
            color: $text-light;
        }
        h2{
            font-size: 1.28em;
            line-height: 21px;
            font-weight: normal;
            padding-bottom: 2px;
            color: $text-emphasis;
        }
        p{
            text-align: justify;
        }
        ul,ol,p, h2{
            margin: 0px 0;
        }
        .extract{
            font-size: 0.90em;
            margin-top: 10px;
            line-height: 16px;
            max-height: 162px;
            overflow: hidden;
            strong{
                font-weight: normal;
                font-style: italic;
                border-bottom: 1px dashed $secondary;
            }
        }
        .readmore{
            padding: 8px 0 15px 0;
            text-align: center;
            position: absolute;
            background: rgba(255,255,255,0.8);
            bottom: 0;
            left: 0;
            right: 0;
            &:hover{
                color: $text-emphasis;
            }
        }
    }
    margin-bottom: 20px;
    perspective: 800px;
}

.sr .card{visibility: hidden;}
