@import 'variable';

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    border-bottom: 2px solid $border-emphasis;
    background: $primary;
    background: linear-gradient($primary, darken($primary, 4%));

    line-height: 23px;
    ul#back{
        padding-left: 5px;
        font-family: $font-title;
        font-size: 1.1em;
        a{color: #33475b;}
        span > amp-img, span > img{position: relative; top: 1px;}
        .label{padding-left: 0px;}
        .amp .label{padding-left: 3px;}
    }
    ul{
	    padding: 0;
	    margin: 0;
	    font-size: inherit;
	    font-weight: normal;
	    li{
	        display: inline-block;
	        margin-right: 10px;
	        &.active a{color: #e2e2e2;}
	        a{
		        text-decoration: none;
		        color: white;
	        }
	    }
    }
    form{
	    float: right;
	    input{
            background: rgba(255,255,255,0.2);
            font-family: inherit;
            font-size: 1em;
            padding: 0 0 0 5px;
            border-radius: $radius;
            color: inherit;
            line-height: 23px;
	    }
    }
}


.menu-landing-page{
    font-family: $font-title;
    background: $primary;
    background: linear-gradient($primary, darken($primary, 4%));

    a{color: inherit;}

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: right;
        li{
            display: inline-block;
            padding: 5px 15px 5px 0px;
            a{
                text-decoration: none;
                color: inherit;
                transition: color 0.2s ease-out;
                &:hover{
                    color: #33475b;
                    border-bottom: 2px solid #33475b;
                }
            }
        }
        form input{
            background: rgba(255,255,255,0.2);
            font-family: inherit;
            font-size: 1em;
            padding: 0 0 0 5px;
            border-radius: $radius;
            color: inherit;
        }
    }
    .me{
        background-image: url('/assets/img/logo.png');
        background-repeat: no-repeat;
        background-position: center center;

        & >div{
            border-bottom: 2px solid $secondary;
            text-align: center;
            padding-top: 70px;
            padding-bottom: 140px;
            margin-bottom: -110px;
            h1{
                text-align: center;
                font-family: inherit;
                font-size: 2.5em;
                margin: 60px 0 0px 0;
                line-height: 45px;
            }
            p{
                line-height: 35px;
                font-size: 1.6em; margin-bottom: 9px;
                margin: 0px 0 10px 0;
            }
            div{
                margin: 20px 0 0px 0;
            }
        }
    }
}
