blockquote{
    padding: 10px 10px;
    margin: 0 10px;
    border-left: 4px solid lighten(#626469, 15%);
    background: white;
    font-size: 1.05em;
}



.post .post-content blockquote p{margin: 0;}
