.related_posts_title{
    text-align: center;
    margin-top: 130px;
    border-top: 2px solid;
    padding-top: 45px;
    font-size: 1.5em;
    img{
        padding-top: 20px;
        animation: bounce 1s infinite alternate;
    }
}
.related_posts_container{
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .related_post{
        position: relative;
        color: inherit;
        text-decoration: none;
        width: calc(25% - 10px);
        @media (max-width: 767px) {
            width: calc(50% - 10px);
        }
        margin-bottom: 10px;
        margin-right: 10px;
        background: white;
        text-align: center;
        padding: 20px 5px 10px 5px;
        box-sizing: border-box;
        .image{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 130px;
        }
        .title{
            text-align: center;
            font-style: italic;
            font-size: 0.95em;
        }
        .overlay{
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba($secondary, 0.9);
            z-index: 2;
            transition: .15s ease-in-out;
            .button{
                margin-top: 68px;
            }
        }
        &:hover{
            .overlay{visibility: visible; opacity: 1;}
        }
        transition: .15s ease-in-out;
        -webkit-font-smoothing: antialiased;
        &:hover{
            transform: scale(1.03);
            box-shadow: 2px 2px 2px #e2e2e2;
        }
    }
}

#disqus{margin-bottom: 20px; height: 405px;}


@keyframes bounce {
    from {
        transform: translate3d(0,0,0);
    }
    to {
        transform: translate3d(0,-8px,0);
    }
}
