@import 'variable';

body{padding: 0; margin: 0;}
html{
    font-size: 16px;
    font-family: "San Francisco","Roboto", "Helvetica Neue", sans-serif;
    background: $background;
    color: $text;

    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust:100%;
}

input, textarea{
    border-radius: 0;
    margin: 0;
    &,
    &:focus,
    &:active,
    &:hover{
	    border: none;
	    outline: none;
    }
}
h1, h2, h3, h4, h5, h6{
    color: $text-emphasis;
    font-family: $font-title;
    font-weight: normal;
    line-height: 1.05em;
}
code{background: white;}
pre code{background: inherit;}
a{text-decoration: none;}
amp-img{max-width: 600px;}

table{
    margin: 5px 0;
    border-collapse: collapse;
    max-width: 100%;
    td{border: 1px solid $text-emphasis; padding: 3px 7px;}
}

.pull-right{float: right;}
.nowrap{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
form{margin: 0;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: inherit;
}
::-moz-placeholder { /* Firefox 19+ */
    color: inherit;
}
:-ms-input-placeholder { /* IE 10+ */
    color: inherit;
}
:-moz-placeholder { /* Firefox 18- */
    color: inherit;
}

.button{
    background: $text;
    color: white;
    padding: 3px 10px;
    display: inline-block;
    border-radius: $radius;
    cursor: pointer;
    font-size: 1.05em;
    border: 2px solid $text-emphasis;
    &:hover{
        box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
    }

    &.button--outline{
        color: $text;
        background: inherit;
        border: 2px solid $text;
        &:hover{
            background: rgba(0,0,0,0.1);
        }
    }
    &.button--white{
        color: white;
        border-color: white;
    }
}




/* IE */
img{border: none;}
