.tag{
    font-weight: normal;
    display: inline-block;
    border-radius: $radius;
    color: rgba(0,0,0, 0.4);
    border: 1px solid rgba(0,0,0,0.1);
    margin-right: 5px;
    font-size: 16px;
    padding: 1px 5px;
    background: #f9f9f9;
    &:before{color: rgba(0, 0, 0, 0.25);padding-right: 2px;}
    &.white{background: white;}
}
