#toc{
    position: fixed;
    top: 155px;
    left: 10px;
    font-size: 0.93em;
    width: calc((100% - 900px) / 2 - 50px);
    ul{
        list-style-type: none;
        padding-left: 20px;
        margin: 0;
        a{
            color: #A8C2D0;
        }
    }
    > ul{
        padding: 0;
    }
}
@media (max-width: 1500px) {
    #toc{display: none;}
}
