$primary: #A8C2D0;
$secondary: #637d8b;

$background: #f6f6f6;

$text: #626469;
$text-emphasis: #4B4D52;
$text-light:  $secondary;

$border: #e2e2e2;
$border-emphasis: $secondary;

$radius: 3px;

$font-title: 'Nunito', sans-serif;
$font-normal: "San Francisco","Roboto", "Helvetica Neue", sans-serif;
