---
layout: page
---

{% if page.type == "category" or page.type == 'tag' %}
<h1>Archive of posts: {{ page.category }}</h1>
{% elsif page.type == "year" %}
<h1>Archive of posts: {{ page.date | date: "%Y" }}</h1>
{% elsif page.type == "month" %}
<h1>Archive of posts: {{ page.date | date: "%B %Y" }}</h1>
{% else if page.type == "day" %}
<h1>Archive of posts: {{ page.date | date: "%B %-d, %Y" }}</h1>
{% else %}
<h1> Archive </h2>
{% endif %}

    <section>
        {% for post in page.posts %}
        <a class="card" href="{{ post.url | relative_url }}">
            {% if post.image %}
            <img src="{{ post.image | custom_image: 45 }}" srcset="{{ post.image | custom_image: 45 }} 1x, {{ post.image | custom_image: 90 }} 2x" width="45" height="45" alt="article image" />
            {% endif %}
            <h2 class="nowrap">{{ post.title | escape }}
                <span class="post-meta">
                    -  {{ post.date | date: "%b %Y" }}
                </span>
            </h2>
            <p class="nowrap">
                {{ post.excerpt | strip_html | truncatewords: 50 }}
            </p>
            {% if forloop.first %}
            <p class="extract">
                {{ post.content | remove: post.excerpt | replace: '<li>', '__NEWLINE__<li>&nbsp;- ' | replace: '<p>', '__NEWLINE__<p>' | replace_regex: '<h[0-9].*?>(.*?)<\/h[0-9]>(\s|__NEWLINE__)*', '__NEWLINE____TITLE__\1__TITLE__: ' | strip_html | replace: "__NEWLINE__", "<br/>" | replace_regex: '__TITLE__(.*?)__TITLE__', '<strong>\1</strong>' | replace_regex: '^<br\/>', "" | truncatewords: 150 }}
            </p>
            <div class="readmore noselect">
                READ MORE
            </div>
            {% endif %}
        </a>
        {% endfor %}
    </section>


    <script>
     var script = document.createElement("script");
     script.type = "text/javascript";
     script.src = "https://unpkg.com/scrollreveal@3.3.6/dist/scrollreveal.min.js";
     script.defer = true;
     script.onload = function(){
         let sr = ScrollReveal();
         sr.reveal('.card', {
             useDelay: 'onload',
             reset: true,
             duration: 200,
             scale: 0.95,
             viewFactor: 0.4
         });
     };
     document.body.appendChild(script);
    </script>
