---
layout: page
description: A collection of tech related stuff shared with the world
---

{% if page.menu == "kb" %}
{% assign cat_name = "pro" %}
{% else if page.menu = "me" %}
{% assign cat_name = "perso" %}
{% else %}
{% assign cat_name = "" %}
{% endif %}

{{ content }}

{% if page.menu != "search" and cat_name != "" %}
<section>
    {% for post in site.categories[cat_name] %}
    <a class="card" href="{{ post.url | relative_url }}">
        {% if post.image %}
        <img src="{{ post.image | custom_image: 45 }}" srcset="{{ post.image | custom_image: 45 }} 1x, {{ post.image | custom_image: 90 }} 2x" width="45" height="45" alt="article image" />
        {% endif %}
        <h2 class="nowrap">{{ post.title | escape }}
            <span class="post-meta">
                -  {{ post.date | date: "%b %Y" }}
            </span>
        </h2>
        <p class="nowrap">
            {{ post.excerpt | strip_html | truncatewords: 50 }}
        </p>
        {% if forloop.first %}
        <p class="extract">
            {{ post.content | remove: post.excerpt | replace: '<li>', '__NEWLINE__<li>&nbsp;- ' | replace: '<p>', '__NEWLINE__<p>' | replace_regex: '<h[0-9].*?>(.*?)<\/h[0-9]>(\s|__NEWLINE__)*', '__NEWLINE____TITLE__\1__TITLE__: ' | strip_html | replace: "__NEWLINE__", "<br/>" | replace_regex: '__TITLE__(.*?)__TITLE__', '<strong>\1</strong>' | replace_regex: '^<br\/>', "" | truncatewords: 150 }}
        </p>
        <div class="readmore noselect">
            READ MORE
        </div>
        {% endif %}
    </a>
    {% endfor %}
</section>
{% endif %}

<script>
 var script = document.createElement("script");
 script.type = "text/javascript";
 script.src = "https://unpkg.com/scrollreveal@3.3.6/dist/scrollreveal.min.js";
 script.defer = true;
 script.onload = function(){
     let sr = ScrollReveal();
     sr.reveal('.card', {
         duration: -1,
         afterReveal: function () {
             sr.reveal('.card', {
                 duration: 200,
                 scale: 0.95,
                 viewFactor: 0.4,
             });
         }
     });
 };
 document.body.appendChild(script);
</script>
