---
layout: skeleton
---
{% if page.layout == "post" %}
{% assign amp = "true" %}
{% endif %}

{% if page.url != "/" %}
<nav class="noselect">
    {% if page.menu == "kb" or page.category == "pro" %}
    <div class="container">
        <form action="{{ "/search" | absolute_url }}" target="_top" method="get">
            <input type="text" id="search-box" name="q" placeholder="Search" autofocus>
        </form>
    </div>
    {% endif %}
    <ul id="back">
        <li {% if amp %}class="amp"{% endif %}>
            <a href="{{ "/" | relative_url}}">
                <span>
                    {% if amp %}
                    <amp-img alt="down arrow" src="/assets/img/back.png" layout="fixed" width="13" height="13" />
                    {% else %}
                    <img src="/assets/img/back.png" width="13" height="13"/>
                    {% endif %}
                </span><span class="label">home</span>
            </a>
        </li>
    </ul>
</nav>
{% else %}
<div class="menu-landing-page">
    <ul class="noselect">
        <li><a href="{{ "/about/" | relative_url}}">About</a></li>
        <li><a href="mailto:mickael@kerjean.me">Contact</a></li>
    </ul>
    <ul>
        <li>
            <form action="{{ "/search" | absolute_url }}" target="_top" method="get">
                <input type="text" id="search-box" name="q" placeholder="Search" autofocus>
            </form>
        </li>
    </ul>
    <div class="me">
        <div>
            <h1>I'm Mic<a href="/me/" rel="nofollow" class="door">k</a>ael</h1>
            <p>A Software Engineer / Project Manager</p>
            <div class="noselect">
                <a class="button button--outline" href="{{ "/about/" | relative_url}}">About</a>
                <a class="button button--outline" href="{{ "/about/#services" | relative_url}}">Services</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container">
  {{ content }}
</div>
