---
layout: page
---

<article class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
        <div class="post-meta">
            {% for tag in page.tags %}
            <div class="tag white">{{tag}}</div>
            {% endfor %}
        </div>
    </header>

    {% if page.toc == true %}
    <div id="toc">
        {{ content | toc_only }}
    </div>
    {% endif %}

    <div class="post-content">
        {{ page.content }}
    </div>
</article>



<div class="related_posts_title">
    <div>Related Articles</div>
    <amp-img alt="down arrow" src="/assets/img/arrow_bottom.png" layout="fixed" width="16" height="17" />
</div>
<div class="related_posts_container">
    {% for post in site.related_posts limit:6 %}
    {% if post.category == page.category %}
    <a href="{{ post.url | relative_url }}" class="related_post">
        <div class="overlay">
            <div class="button button--outline button--white">READ</div>
        </div>
        <amp-img src="{{ post.image | custom_image: 130 }}" srcset="{{ post.image | custom_image: 130 }} 1x, {{ post.image | custom_image: 260 }} 2x" width="130" height="130" layout="fixed" alt="article image" placeholder></amp-img>
        <div class="title">{{ post.title }}</div>
    </a>
    {% endif %}
    {% endfor %}
</div>
<amp-iframe id="disqus" width=600 height=140
	        layout="responsive"
	        sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
	        resizable
	        frameborder="0"
	        src="https://cdn.rawgit.com/maxxeight/disqusAMP/master/disqus-amp.html?shortname={% if page.category == "pro" %}mickael-kerjean-me{% else %}mickael-kerjean-me-1{% endif %}&url={{ page.url | absolute_url }}">
    <div overflow tabindex=0 role=button aria-label="Disqus Comments">Disqus Comments</div>
</amp-iframe>
