---
layout: compress
---
{% if page.layout == "post" %}
{% assign amp = "true" %}
{% endif %}
<!doctype html>
<html {% if amp %}amp{% endif %} lang="{{ page.lang | default: site.lang | default: "en" }}">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        {% if page.url != "/" %}
        <link rel="prefetch" href="/">
        {% endif %}
        {% if page.url != "/about/" %}
        <link rel="prefetch" href="/about/">
        {% endif %}
        {% if amp %}
        <meta charset="utf-8">
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        {% endif %}
        <link type="application/atom+xml" rel="alternate" href="/feed.xml" title="Mickael Kerjean blog">
        <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
        <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <link rel="canonical" href="{{ page.url | absolute_url }}">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | absolute_url }}">

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@mickael-kerjean" />
        <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
        <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
        <meta property="og:site_name" content="{{ site.title }}">
        <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
        <meta property="og:type" content="{% if page.layout == "post" %}article{% else %}website{% endif %}">
        <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        {% if page.url %}
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        {% endif %}
        {% if page.date %}
        <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
        {% endif %}
        {% if page.image %}
        <meta property="og:image" content="{{ page.image }}">
        <meta name="twitter:image" content="{{ page.image }}" />
        {% else %}
        <meta property="og:image" content="/img/logo-high-resolution.png">
        <meta name="twitter:image" content="/img/logo-high-resolution.png" />
        {% endif %}
        {% if page.tags %}
        {% for tag in page.tags %}
        <meta content="{{ tag }}" property="article:tag">
        {% endfor %}
        {% endif %}

        {% if amp %}
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
        <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        {% endif %}

        <style {% if amp %}amp-custom{% endif %}>
         {% capture style %}
         {% if page.posts or page.url == '/' or page.url == '/me/' %}
         {% include posts.scss %}
         {% elsif page.url == "/search/" %}
         {% include search.scss %}
         {% elsif page.url == "/about/" %}
         {% include about.scss %}
         {% else %}
         {% include post.scss %}
         {% endif %}
         {% endcapture %}
         {{ style | scssify }}
        </style>

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script type="application/ld+json">
            {% if page.url == "/about/" %}
            {
            "@context": "http://schema.org",
            "@type": "Person",
            "address": {
            "@type": "PostalAddress",
            "addressLocality": "Kirribilli",
            "addressRegion": "NSW",
            "postalCode": "2061",
            "streetAddress": "12 Bradly avenue, unit 1"
            },
            "email": "mailto:mickael@kerjean.me",
            "image": "https://avatars3.githubusercontent.com/u/13233076?s=460&v=4",
            "name": "Mickael Kerjean",
            "alumniOf": "Supelec",
            "birthPlace": "Blois, FR",
            "birthDate": "1989.12.11",
            "height": "72 inches",
            "gender": "male",
            "nationality": "French",
            "telephone": "+61 429 136 564",
            "url": "http://mickael.kerjean.me"
            }
            {% elsif page.layout == "post" %}
            {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "{{ page.title }}",
            "alternativeHeadline": "{{ page.exceprt }}",
            "image": "{{ page.image | absolute_url }}",
            "author": "{% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif %}",
            "wordcount": "{{ page.content | number_of_words }}",
            "publisher": {
            "@type": "Organization",
            "name": "MK Consulting",
            "logo": {
            "@type": "ImageObject",
            "url": "https://archive.kerjean.me/public/mk-consulting.png"
            }
            },
            "url": "{{ page.url | absolute_url }}",
            "datePublished": "{{ page.date | date_to_xmlschema }}",
            "dateCreated": "{{ page.date | date_to_xmlschema }}",
            "dateModified": "{{ page.date | date_to_xmlschema }}",
            "description": "{{ page.excerpt | strip_html }}",
            "articleBody": "{{ page.content | strip_html | strip_newlines | truncate: 800 }}",
            "mainEntityOfPage": "http://mickael.kerjean.me/"
            }
            {% elsif page.layout == "list" %}
            {
            "@context": "http://schema.org",
            "@type": "Blog",
            "author": {
            "@type": "Person",
            "name": "{% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif %}"
            }
            }
            {% else %}
            {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "{{ page.url | absolute_url }}"
            }
            {% endif %}
        </script>
        {% if amp != "true" %}
        <script>
         window.addEventListener("load", appear.bind(null, 'loading-completed'));
         window.addEventListener("DOMContentLoaded", function(){
             if(document.fonts){
                 document.fonts.ready.then(appear.bind(null, 'render-completed'));
             }else{
                 window.addEventListener("load", appear.bind(null, 'render-completed'));
             }
         });
         function appear(className){
             if(window.requestAnimationFrame){
                 window.requestAnimationFrame(set_attr);
             }else{
                 window.setTimeout(set_attr, 0);
             }
             function set_attr(){
                 document.body.setAttribute(
                     'class',
                     ((document.body.getAttribute('class') || "")+ " "+className).trim()
                 );
             }
         }
        </script>
        {% endif %}
    </head>

    <body>
        {{content}}


        {% if amp %}
        <amp-analytics type="googleanalytics">
            <script type="application/json">
                {
                "vars": {
                "account": "UA-20569619-9"
                },
                "triggers": {
                "trackPageview": {
                "on": "visible",
                "request": "pageview"
                }
                }
                }
            </script>
        </amp-analytics>
        {% else %}
        <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-20569619-9', 'auto');
         ga('send', 'pageview');
        </script>
        {% endif %}
    </body>
</html>
